
// ----------------------------------------------
// Colors

$c-defaultText: rgba(0, 0, 0, 0.87);
$c-saturday: #039BE5;
$c-sunday: #f44336;
$bg-activeDate: rgba(0,191,165,0.5);

$bg-nav: #00bfa5;
$c-nav: #fff;
