/**********************************
 Nav
 **********************************/

.rm-datepicker .nav {
  background-color: #00bfa5;
  width: 100%;
  position: relative;
}

.rm-datepicker .nav:after {
  content: '';
  display: block;
  clear: both;
}

.rm-datepicker .nav a {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s;
  float: left;
}

.rm-datepicker .nav .today {
  float: right;
  text-align: right;
}

.rm-datepicker .nav a * {
  height: inherit;
  line-height: inherit;
}

.rm-datepicker .nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.rm-datepicker .nav i {
  font-size: 1.1em;
}

.rm-datepicker .nav .adjacent i {
  font-size: 1.4em;
}

.rm-datepicker .nav > a:first-child {
  width: 60px;
  text-align: left;
}

.rm-datepicker .nav .back {
  width: 50%;
  max-width: 170px;
  margin-left: -60px;
  padding-left: 32px;
}

.rm-datepicker .nav .adjacent {
  width: 15%;
  max-width: 50px;
}

.rm-datepicker .nav .today {
  width: 20%;
}

@media only screen and (min-width: 339px) {
  .rm-datepicker .nav a:first-child,
  .rm-datepicker .nav a:last-child {
    padding: 0 15px;
  }
  .rm-datepicker .nav .back {
    padding: 0 0 0 40px;
  }
}

/* All the styles below can be deleted (it is for very very old devices)*/
@media only screen and (max-width: 315px) {
  .rm-datepicker .nav a {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
  }
  .rm-datepicker .nav .back {
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding-left: 45px;
  }
  .rm-datepicker .nav .adjacent,
  .rm-datepicker .nav .today {
    width: 33.3333%;
    max-width: 100%;
    text-align: center;
  }
}