/**********************************
 Sunday Saturday
 **********************************/

/* saturday */
.rm-datepicker .sunSat > *:nth-child(7),
.rm-datepicker .sunSat > *:nth-child(7n) a,
.rm-datepicker.mondayStart .sunSat > *:nth-child(6),
.rm-datepicker.mondayStart .sunSat > *:nth-child(7n+6) a,
.rm-datepicker .sunSat + * > *:nth-child(7),
.rm-datepicker .sunSat + * > *:nth-child(7n) a,
.rm-datepicker.mondayStart .sunSat + * > *:nth-child(6),
.rm-datepicker.mondayStart .sunSat + * > *:nth-child(7n+6) a {
  color: $c-saturday !important;
}

/* sunday */
.rm-datepicker .sunSat > *:nth-child(1),
.rm-datepicker .sunSat > *:nth-child(7n+1) a,
.rm-datepicker.mondayStart .sunSat > *:nth-child(7),
.rm-datepicker.mondayStart .sunSat > *:nth-child(7n) a,
.rm-datepicker .sunSat + * > *:nth-child(1),
.rm-datepicker .sunSat + * > *:nth-child(7n+1) a,
.rm-datepicker.mondayStart .sunSat + * > *:nth-child(7),
.rm-datepicker.mondayStart .sunSat + * > *:nth-child(7n) a {
  color: $c-sunday !important;
}

/* reset saturday */
.rm-datepicker.mondayStart .sunSat > *:nth-child(1),
.rm-datepicker.mondayStart .sunSat > *:nth-child(7n+1) a,
.rm-datepicker.mondayStart .sunSat + * > *:nth-child(1),
.rm-datepicker.mondayStart .sunSat + * > *:nth-child(7n+1) a {
  color: $c-defaultText !important;
}
